.container {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  @apply -ml-2; /* gutter size offset */
  width: auto;
}
.column {
  @apply pl-2; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.column > div { /* change div to reference your elements you put in <Masonry> */
  @apply m-0 mb-2;
  @apply font-light leading-relaxed;
  @apply border rounded-lg p-3;
  @apply bg-white hover:bg-gray-100;
}